.has-bg-blue {
    background-color: blue;
}

.has-text-blue {
    color: #037df3;
    font-weight: bold;
    font-size: 16px;
}
.has-text-red {
    color: red;
}

.has-bg-yellow {
    background-color: #ffc845;
}

.has-text-green {
    color: #3ca;
    font-weight: bold;
    font-size: 16px;
}